{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Profile</h1>

		<ul>
			<li>Nom d'utilisateur :
				{{ app.user.username }}
			</li>
			<li>Email :
				{{ app.user.email }}
			</li>
		</ul>
		{{ form_start(accountForm)}}
		{{ form_row(accountForm.profilePicture)}}
		<button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
		{{ form_end(accountForm)}}
		{% if app.user.profilePicture.name  is defined %}
			<img src="{{asset('/uploads/profilepicture/'~ app.user.profilePicture.name)}}" alt="Image" width="150">
			<a href="{{path('app_remove_pp')}}"><img src="{{asset('/assets/icons/trash.svg')}}" alt="Image" width="20"></a>
		{% else %}
			<img class="img-fluid w-10" height="40" width="40" src="https://img.myloview.fr/stickers/user-icon-human-person-symbol-avatar-log-in-vector-sign-400-256564255.jpg" alt="Card image cap">
			<p>Pas de photo de profil</p>
		{% endif %}

	</div>
{% endblock %}
