{% extends 'base.html.twig' %}

{% block title %}Créer un Trick
{% endblock %}

{% block body %}
	<section class="login-page">
		{% include "_partials/_flash.html.twig" %}
		<div class="row">
			<div class="col-12 text-center">
				<h1>Créer un trick</h1>
			</div>
			<div class="card col-10 col-md-9 col-lg-6 mx-auto text-center"><br>
				{{ form_start(createTrickForm)}}<br>
				{{ form_row(createTrickForm.trick_name)}}<br>
				{{ form_row(createTrickForm.description)}}<br>
				{{form_row(createTrickForm.trickGroup)}}<br>
				{{form_row(createTrickForm.illustration)}}<br>
				{{form_row(createTrickForm.media)}}<br>
				{{form_row(createTrickForm.url)}}<br>
				<button type="submit" class="btn btn-primary btn-lg">Créer</button><br><br>
				{{ form_end(createTrickForm)}}
			</div>
		</div>
	</section>
{% endblock %}
