{% extends 'base.html.twig' %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-12">
				<h1>{{title}}</h1>

			</div>

			{% for trick in tricks %}
				<div class="card h-200" style="width: 15rem;">
					{% if trick.illustration.iDmedia.mediaName  is defined %}
						<img class="img-fluid" height="200" width="200" src="{{asset('/uploads/trickmedia/'~ trick.illustration.idMedia.mediaName)}}" alt="Card image cap">
					{% else %}
						<img class="img-fluid" height="200" width="200" src="https://user.oc-static.com/upload/2016/11/17/14793747168201_snowboard_neige_figure_saut_shutterstock_3516624621.jpg" alt="Card image cap">
					{% endif %}

					<a href="{{ path('app_remove_trick',{slug: trick.slug}) }}"><img src="{{asset('/assets/icons/trash.svg')}}" alt="Image" width="20">
					</a>

					<a href="{{ path('app_modify_trick',{slug: trick.slug}) }}"><img src="{{asset('/assets/icons/pen.svg')}}" alt="Image" width="20"></a>
					<div class="card-body">
						<h3 class="card-title">{{trick.trickname}}</h3>
						<p class="card-text">{{trick.trickGroup.trickGroupName}}</p>
						<small>
							<p class="card-text">{{trick.description}}</p>
						</small>

						<a href="{{ path('app_trick',{slug: trick.slug}) }}" class=" btn btn-primary">Lire</a>
					</div>
				</div>


			{% endfor %}

		</div>
	</section>
{% endblock %}
