{% extends 'base.html.twig' %}

{% block title %}Modifier un Trick
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Modifier un trick</h1>
				{{ form_start(ModifyTrickForm)}}
				{{ form_row(ModifyTrickForm.trick_name, {'value': trick.trickname})}}
				{{ form_row(ModifyTrickForm.description, {'value': trick.description})}}

				{{ form_row(ModifyTrickForm.slug, {'value': trick.slug})}}
				<button type="submit" class="btn btn-primary btn-lg">Modifier</button>
				{% if app.request.attributes.get('_route') == 'app_modify_trick' %}
					<h2>Media du Trick</h2>
					{% for media in trick.media %}
						<div>
							<img src="{{asset('/uploads/trickmedia/'~ media.mediaName)}}" alt="Image" width="150">
							<a href="{{path('app_remove_media', {id: media.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ media.id)}}">X</a>
						</div>
					{% endfor %}
				{% endif %}
				{{ form_end(ModifyTrickForm)}}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/js/medias.js')}}" defer></script>
{% endblock %}
