{% extends 'base.html.twig' %}
{% block javascripts %}
	<script src="{{asset('assets/js/loadMoreComs.js')}}"></script>
	<script src="{{asset('assets/js/displayMediaButton.js')}}"></script>
	<script src="{{asset('assets/js/showMedia.js')}}"></script>
{% endblock %}
{% block body %}
	{% if trick.illustration.iDmedia.mediaName is defined %}
		<section class="top-trick-image" style="background:url('../../../uploads/trickmedia/{{trick.illustration.iDmedia.mediaName}}') center center / cover no-repeat; height: 100vh;">
		{% else %}
			<section id="top-section" class="top-section">
			{% endif %}
			{% if app.user.username is defined and app.user.isVerified == 1 %}
				<div class="col-2 col-md-1 ms-auto">
					<a type="button" class="btn btn-dark mt-3" href="{{ path('app_modify_trick',{slug: trick.slug}) }}">
						<i class="bi bi-pen-fill"></i>

					</a>
					<a type="button" class="btn btn-dark mt-3" href="{{ path('app_remove_trick',{slug: trick.slug}) }}">
						<i class="bi bi-trash-fill"></i>

					</a>
				</div>

			{% endif %}
			<div class="col-12 text-center">
				<h1>{{trick.trickname}}</h1>


			</div>
		</section>
		<article class="container">
			<div class="row">

				<div class="col-12 media-view">
					<button class="btn btn-primary show-media" href="">Voir les photos/videos</button>
				</div>
				{% for media in trick.media %}
					<div class="col-md-3 trick-card trick-media-display">
						<div class="card mh-500 d-flex align-items-stretch">
							<img class="card-img-top" src="{{asset('/uploads/trickmedia/'~ media.mediaName)}}" alt="Image" width="150"></img>

					</div>
				</div>
			{% endfor %}

			{% for video in videos %}
				<div class="col-md-3 trick-card trick-media-display">
					<div class="card mh-500 d-flex align-items-stretch">
						<iframe class="card-img-top" src="{{video.link}}"></iframe>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-12">
			<p>{{ trick.description }}</p>
		</div>
		<div class="col-12">
			<p>Créé le
				<strong>{{creationDate}}</strong>
				et modifié le
				<strong>{{modificationDate}}</strong>
				La catégorie est
				<strong>{{group}}</strong>
			</p>
		</div>
		<divclass="col-12">
			{% if app.user.username is defined and app.user.isVerified == 1 %}
				<div class="col-12">
					{{ form_start(comForm)}}
					{{ form_row(comForm.comment)}}<br>
					<button type="submit" class="btn btn-primary">Publier</button>
					{{ form_end(comForm)}}
				{% endif %}
			</div>
			<br>
			<h5>Commentaires</h5>
			{% for message in messages %}
				<div class="col-md-4">
					<p>
						<small>
							{% if message.author.profilePicture.name  is defined %}
								<img src="{{asset('/uploads/profilepicture/'~ message.author.profilePicture.name)}}" alt="Image" height="40" width="40">
							{% else %}
								<img class="img-fluid w-10" height="40" width="40" src="https://img.myloview.fr/stickers/user-icon-human-person-symbol-avatar-log-in-vector-sign-400-256564255.jpg" alt="Card image cap">
							{% endif %}
							<strong>{{message.author.username}}</strong>
							<i>{{message.date|date("d/m/Y H:i")}}</i>
						</small>
					</p>
					<p>{{message.content}}</p>
				</div>
			{% endfor %}

			<a href="" class="btn btn-primary load-more">Load More</a>
		</p>
	</div>
</div></article>{% endblock %}
